<div>
  <h1>Hi, I'm Jonathan</h1>
  <br/>
  <h2>I am a pragmatic technologist</h2>
  <h2>I love to build <%=link_to 'things', resume_path%></h2>
  <h2>I like <%=link_to 'music', music_path %> and playing <%=link_to 'board games', games_path %></h2>
  <h2>I read the <%=link_to 'Economist', 'http://www.economist.com'%>, so yeah, I'm pretty smart</h2>
  <br />
  <!--<h2>-->
    <!--and I am looking for a <span style="text-decoration: underline;">new venture</span>-->
  <!--</h2>-->
  <%=link_to 'Contact Me', "mailto:jonathan@tushman.com", class: 'btn btn-primary btn-large' %>
</div>

