<div>
  <h1>Hi, I'm Jonathan</h1>
  <br/>
  <h2>I am a pragmatic technologist</h2>
  <h2>I love to build <%=link_to 'things', resume_path%></h2>
  <h2>I like <%=link_to 'music', music_path %> and playing <%=link_to 'board games', games_path %></h2>
  <h2>I read the <%=link_to 'Economist', 'http://www.economist.com'%></h2>
  <h2>I turn my computer off at night</h2>
  <h2>I do not use <%=link_to 'Social Media', 'http://www.quickmeme.com/meme/3p432o/' %></h2>
  <h2>I have 3 kids, and I live and work in <%=link_to 'Wellesley, MA', 'http://g.co/maps/zuafg'%> </h2>
  <br />
  <!--<h2>-->
    <!--and I am looking for a <span style="text-decoration: underline;">new venture</span>-->
  <!--</h2>-->
  <%=link_to 'Contact Me', "mailto:jonathan@tushman.com", class: 'btn btn-primary btn-large' %>
</div>

