<div id="resume">
<h1>Resume</h1>
<br>
<ul class="nav nav-pills" id="resumeNav">
  <li class="active"><a href="#work" data-toggle="tab">Work</a></li>
  <li><a href="#education" data-toggle="tab">Education</a></li>
  <li><a href="#technology" data-toggle="tab">Technology</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="work">

    <%@work_items.each do |work_item| %>
        <hr>
        <div class="row">
          <div class="span4">
            <%= link_to image_tag(work_item['logo']), work_item['url'] %>
          </div>
          <div class="span5">
            <h3><%= work_item['company'] %> <small><%= work_item['title'] %></small></h3>
            <span class='years'><%= work_item['years'] %></span>
            <%= raw Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(work_item['description']) %>
          </div>
        </div>
    <% end %>

  </div>
  <div class="tab-pane fade" id="education">
    <%@school_items.each do |school_item| %>
        <hr>
        <div class="row">
          <div class="span4">
            <%= link_to image_tag(school_item['logo'], width: 240), school_item['url'] %>
          </div>
          <div class="span5">
            <h3><%= school_item['school'] %> </h3>

            <p><%= school_item['degree'] %>, Class of <%= school_item['class'] %></p>
          </div>
        </div>

    <% end %>
  </div>

  <div class="tab-pane fade" id="technology">
    <%@tech_items.each do |tech_item| %>
        <hr>
        <div class="row">
          <div class="span4">
            <%= link_to image_tag(tech_item['image']), tech_item['url'] %>
          </div>
          <div class="span5">
            <h3><%= tech_item['technology'] %> </h3>

            <%= raw Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(tech_item['description']) %>
          </div>
        </div>
    <% end %>

    <hr>
    <h2>Other Recent Technology Experience</h2>
    <dl class="dl-horizontal">
      <dt>Languages</dt>
      <dd>Python, Ruby </dd>
      <dt>Frameworks</dt>
      <dd>Flask, Rails, Click</dd>
      <dt>Datastores</dt>
      <dd>MongoDB, PosgreSQL, mySQL, RDS, RedShift</dd>
      <dt>Front End</dt>
      <dd>jQuery, Angular, CSS, SASS</dd>
    </dl>

  </div>

</div>
</div>